.idea/inspectionProfiles/Project_Default.xml
.idea/gazeProfile.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/johanna.xml
.idea/inspectionProfiles/profiles_settings.xml
